{% load crispy_forms_tags %}
{% load instance %}
{% instance_name as instance_name_str %}
{% include 'public/header.html' with title="Dashboard" navtitle=""|add:instance_name_str|add:" Public Dashboard" %}
<div class="mast2">
    <div class="container">
    </div>
</div>
<div class="container">

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h1 style="font-size: 7em; margin-bottom:-15px; margin-left: -5px">
            {{ total_sequences }}</h1>
        <h1>Genomes sequenced</h1>
        <br/>
        <div style="width:100%" id="consensus-spark"></div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Site</th>
                    <th class="text-right">Sequences</th>
                    <th class="text-right">Public</th>
                </tr>
            </thead>
            <tbody>
                {% for name, entry in new_sequences %}
                {% if entry.site and entry.count > 0 %}
                <tr>
                    <td>{{ entry.site }}</td>
                    <td class="text-right">{{ entry.count }}</td>
                    <td class="text-right">{{ entry.public }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h1 style="font-size: 6em; margin-bottom:-15px; margin-left: -5px">
            {{ total_collections }}
        </h1>
        <h1>Collections</h1>
        <br/>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Site</th>
                    <th>Samples</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in collections %}
                {% if entry.collected_by and entry.collected_by__count > 0 %}
                <tr>
                    <td>{{ entry.collected_by }}</td>
                    <td class="text-right">{{ entry.collected_by__count }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h1 style="font-size: 6em; margin-bottom:-15px; margin-left: -5px">
        {{ n_regions }}</h1>
        <h1>Regions</h1>
        <br/>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Location</th>
                    <th class="text-right">Samples</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in adm2 %}
                {% if entry.adm2 and entry.count > 0 %}
                <tr>
                    <td>{{ entry.adm2 }}</td>
                    <td class="text-right">{{ entry.count }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
</div>
</div>
{% include 'public/footer.html' %}

{{ consensus_spark|json_script:"consensus-spark-data" }}

<script>
<!-- http://www.tnoda.com/blog/2013-12-19/ -->
function sparkline(elemId, data) {
var parentelement = d3.select(elemId).node();
var width = parentelement.getBoundingClientRect().width;


var height = 60;
var x = d3.scale.linear().range([0, width - 5]);
var y = d3.scale.linear().range([height - 4, 5]);
var parseDate = d3.time.format("%Y-%m-%d").parse;
var line = d3.svg.line()
                 .interpolate("basis")
                 .x(function(d) { return x(d.date); })
                 .y(function(d) { return y(d.count); });

    data = JSON.parse(document.getElementById(data).textContent);
    data.forEach(function(d) {
        d.date = parseDate(d.date);
        d.count = +d.count;
    });
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain(d3.extent(data, function(d) { return d.count; }));

    var svg = d3.select(elemId)
                .append('svg')
                .attr('width', width)
                .attr('height', height)
                .append('g')
                .attr('transform', 'translate(0, 2)');
    svg.append('path')
       .datum(data)
       .attr('class', 'sparkline')
       .attr('d', line);
    svg.append('circle')
       .attr('class', 'sparkcircle')
       .attr('cx', x(data[data.length - 1].date))
       .attr('cy', y(data[data.length - 1].count))
       .attr('r', 5);
}

$( document ).ready(function() {
    sparkline('#consensus-spark', "consensus-spark-data");
});

</script>
