{% load crispy_forms_tags %}
{% load instance %}
{% instance_name as instance_name_str %}
{% include 'public/header.html' with title="Accessions" navtitle=""|add:instance_name_str|add:" Public Accessions" %}
<div class="mast2">
    <div class="container">
    </div>
</div>
<div class="container">

<div class="row">
<div class="col-md-12">

<table class="table datatable">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Published Name</th>
            <th>Published Date</th>
            <th>GISAID</th>
            <th>ENA</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


</div>
</div>
{% include 'public/footer.html' %}

<script>
$(document).ready(function() {
    var oTable = $('.datatable').dataTable({
        processing: true,
        serverSide: true,
        ajax: "{% url 'api.datatable.pag.get' %}",
        pageLength: 100,

        dom: 'frtipB',
        buttons: [
            {
                extend: 'csv',
                filename: "majora.accessions",
                text: "Download table as CSV",
                exportOptions: {
                    columns: ':visible',
                    modifier: {
                        page: 'all',
                    }
                },
            }
        ],

        columnDefs: [
            { 
                "render": function(data, type, row){
                    return '<a href="https://www.ebi.ac.uk/ena/data/view/' + data + '">' + data + '</a>';
                },
                "targets": 4
            },
            { 
                "render": function(data, type, row){
                    var url_mask = "{% url 'group_artifact' '00000000-0000-0000-0000-000000000000' %}".replace(/00000000-0000-0000-0000-000000000000/, row[0].toString());
                    return '<a href="' + url_mask + '">' + data + '</a>';
                },
                "targets": 1
            },
            { "visible": false,  "targets": [ 0 ] }
        ]

    });
});
</script>

