{% load crispy_forms_tags %}
{% load instance %}
{% instance_name as instance_name_str %}
{% include 'public/header.html' with title="Accessions" navtitle=""|add:instance_name_str|add:" Public Accessions" %}
<div class="mast2">
    <div class="container">
    </div>
</div>
<div class="container">

<div class="row">
<div class="col-md-12">

<table class="table datatable">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Published name</th>
            <th>Published date</th>
            <th>Sequencing site</th>
            <th>GISAID</th>
            <th>ENA</th>
            <th>QC Basic</th>
            <th>QC High</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot class="table-dark">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>


</div>
</div>
{% include 'public/footer.html' %}

<script>
$(document).ready(function() {
    var oTable = $('.datatable').dataTable({
        processing: true,
        serverSide: true,
        ajax: "{% url 'api.datatable.pag.get' %}",
        pageLength: 10,

        dom: 'frtipB',
        buttons: [
            {
                extend: 'csv',
                filename: "majora.accessions",
                text: "Download current table page as CSV",
                exportOptions: {
                    columns: ':visible',
                    modifier: {
                        page: 'all',
                    }
                },
            }
        ],

        columnDefs: [
            { 
                "render": function(data, type, row){
                    if (data == "True"){
                        return '<span class="badge badge-success">Pass</span>';
                    }
                    else {
                        return '<span class="badge badge-danger">Fail</span>';
                    }
                },
                "targets": [6,7],
            },
            { 
                "render": function(data, type, row){
                    return '<a href="https://www.ebi.ac.uk/ena/data/view/' + data + '">' + data + '</a>';
                },
                "targets": 5
            },
            { 
                "render": function(data, type, row){
                    var url_mask = "{% url 'group_artifact' '00000000-0000-0000-0000-000000000000' %}".replace(/00000000-0000-0000-0000-000000000000/, row[0].toString());
                    return '<a href="' + url_mask + '">' + data + '</a>';
                },
                "targets": 1
            },
            { "visible": false,  "targets": [ 0 ] }
        ],

        initComplete: function () {
            this.api().columns(  function ( idx, data, node ){ if(idx == 3){ return true }; return false;}  ).every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                {% for code in site_codes %}
                    select.append( '<option value="{{ code|escape }}">{{ code|escape }}</option>' )
                {% endfor %}
            } );
        }

    });
});
</script>

