{% load crispy_forms_tags %}
{% load instance %}
{% instance_name as instance_name_str %}
{% include 'public/header.html' with title="Accessions" navtitle=""|add:instance_name_str|add:" Public Accessions" %}
<div class="mast2">
    <div class="container">
    </div>
</div>
<div class="container">

<div class="row">
<div class="col-md-12">

<table class="table datatable">
    <thead class="table-dark">
        <tr>
            <th>Published Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


</div>
</div>
{% include 'public/footer.html' %}

<script>
$(document).ready(function() {
    var oTable = $('.datatable').dataTable({
        processing: true,
        serverSide: true,
        ajax: "{% url 'api.datatable.pag.get' %}"
    });
});
</script>

