{% include 'header.html' %}
{% load humanize %}
<div class="mast" style="margin-bottom:0">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <span class="badge badge-warning">User</span>
            <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ user.id }}</span>
        </div>
        <div class="col-md-6 text-right">
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <h1>{{ user.username }}</h1>
        </div>
        </div>
    </div>
</div>
<div class="mast2">
</div>

<div class="container">
<div class="row">
    <div class="col-md-8">
        <h1>Signed agreements</h1>
        <br>
        <table class="table table-borderless">
            <thead class="table-dark">
            <tr>
                <th>Agreement</th>
                <th>Signed</th>
            </tr>
            </thead>
            <tbody>
            {% for s in signed %}
            <tr class="table-success">
                <td><b>{{ s.agreement.slug }}</b></td>
                <td><b>{{ s.signature_timestamp | naturaltime }}</b></td>
            </tr>
            {% empty %}
            <tr><td>No signed agreements to list...</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h1>Available agreements</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Agreement name</th>
                <th class="text-right">Sign</th>
            </tr>
            </thead>
            <tbody>
            {% for agreement in available %}
            <tr>
                <td>{{ agreement.slug }}</td>
                <td class="text-right">
                <form class="" action="{% url 'agreements' %}" method="post">
                {% csrf_token %}
                    <input type="hidden" id="aid" name="aid" value="{{ agreement.id }}">
                    <button type="submit" class="btn btn-sm btn-success"><b>Sign</b></button>
                </div>
                </form>
                </td>
            </tr>
            {% empty %}
            <tr><td>No agreements to sign...</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div>
</div>
</div>

{% include 'footer.html' %}
