{% include 'header.html' %}
{% load humanize %}
<div class="mast" style="margin-bottom:0">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <span class="badge badge-warning">User</span>
            <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ user.id }}</span>
        </div>
        <div class="col-md-6 text-right">
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <h1>{{ user.username }}</h1>
        </div>
        </div>
    </div>
</div>
<div class="mast2">
</div>

<div class="container">
<div class="row">
    <div class="col-md-8">
        <h1>Generated Keys</h1>
        <br>
        <table class="table table-borderless">
            <thead class="table-dark">
            <tr>
                <th>Key Name and Key</th>
                <th>Expiry</th>
                <th class="text-right">Renew</th>
            </tr>
            </thead>
            <tbody>
            {% for key in generated %}
            <tr class="table-{% if key.is_expired or key.was_revoked %}danger{%else%}success{% endif %}">
                <td>{{ key.key_definition.key_name }}{% if key.key_definition.permission %} ({{ key.key_definition.permission.codename }}){% endif %}
                </br><code>{{ key.key }}</code></td>
                <td>{{ key.validity_end | naturaltime }}</td>
                <td class="text-right"><a class="badge badge-warning" href="{% url 'api_keys_activate' key.key_definition.key_name %}">RENEW</a>
            </tr>
            {% empty %}
            <tr><td>No keys to list...</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h1>Available Keys</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Key Name</th>
                <th class="text-right">Activate</th>
            </tr>
            </thead>
            <tbody>
            {% for key in available %}
            <tr>
                <td>{{ key.key_name }}</td>
                <td class="text-right"><a class="badge badge-success" href="{% url 'api_keys_activate' key.key_name %}">ACTIVATE</a>
            </tr>
            {% empty %}
            <tr><td>No keys to list...</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div>
</div>
</div>

{% include 'footer.html' %}



