{% include 'header.html' %}
{% load humanize %}
<div class="mast" style="margin-bottom:0">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <span class="badge badge-warning">User</span>
            <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ user.id }}</span>
        </div>
        <div class="col-md-6 text-right">
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <h1>{{ user.username }}</h1>
        </div>
        </div>
    </div>
</div>
<div class="mast2">
</div>

<div class="container">
<div class="row">
    <div class="col-md-8">
        <h1>Generated Keys</h1>
        <br>
        <table class="table table-borderless">
            <thead class="table-dark">
            <tr>
                <th>Key Name and Key</th>
                <th>Expiry</th>
            </tr>
            </thead>
            <tbody>
            {% for key in generated %}
            <tr class="table-{% if key.is_expired or key.was_revoked %}danger{%else%}success{% endif %}">
                <td><b>{{ key.key_definition.key_name }}{% if key.key_definition.permission %} ({{ key.key_definition.permission.codename }})</b>{% endif %}
                </br>
                <form>
                {% csrf_token %}
                <div class="input-group">
                    <input type="hidden" id="key_name" name="key_name" value="{{ key.key_definition.key_name }}">
                    <div class="input-group-append">
                        <span class="input-group-text"><code>{{ key.key }}</code></span>
                        <button type="button" class="copy-btn btn btn-sm btn-primary" data-clipboard-text="{{ key.key }}"><b>Copy</b></button>
                    </div>
                </div>
                </form>
                </td>
                <td class="text-right">
                {{ key.validity_end | naturaltime }}</br>
                <form class="" action="{% url 'api_keys_activate' %}" method="post">
                {% csrf_token %}
                    <input type="hidden" id="key_name" name="key_name" value="{{ key.key_definition.key_name }}">
                    <button type="submit" class="btn btn-sm btn-warning"><b>Renew</b></button>
                </div>
                </form>
                </td>
            </tr>
            {% empty %}
            <tr><td>No keys to list...</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h1>Available Keys</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Key Name</th>
                <th class="text-right">Activate</th>
            </tr>
            </thead>
            <tbody>
            {% for key in available %}
            <tr>
                <td>{{ key.key_name }}{% if key.permission %} ({{ key.permission.codename }}){% endif %}
                <td class="text-right"><a class="badge badge-success" href="{% url 'api_keys_activate' key.key_name %}">ACTIVATE</a>
            </tr>
            {% empty %}
            <tr><td>No keys to list...</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div>
</div>
</div>

{% include 'footer.html' %}


<script>
//Tooltip tip from https://stackoverflow.com/questions/37381640/tooltips-highlight-animation-with-clipboard-js-click
$( document ).ready(function() {
$('button').tooltip({
  trigger: 'click',
  placement: 'bottom'
});

function setTooltip(btn, message) {
  $(btn).tooltip('hide')
    .attr('data-original-title', message)
    .tooltip('show');
}

function hideTooltip(btn) {
  setTimeout(function() {
    $(btn).tooltip('hide');
  }, 1000);
}

var clipboard = new ClipboardJS('.copy-btn');

clipboard.on('success', function(e) {
  setTooltip(e.trigger, 'Copied!');
  hideTooltip(e.trigger);
});

clipboard.on('error', function(e) {
  setTooltip(e.trigger, 'Failed!');
  hideTooltip(e.trigger);
});
});
</script>
