{% load humanize %}

{% include 'header.html' %}
<div class="mast" style="margin-bottom:0">
    <div class="container">
        <div class="row">
        <div class="col-sm-10">
            <span class="badge badge-success">{{ artifact.artifact_kind }}</span>
            {% if artifact.ghost %}
            <strike>
                <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ artifact.id }}</span>
            </strike>
            {% else %}
                <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ artifact.id }}</span>
            {% endif %}
            <h1>{{ artifact.name }}</h1>

        </div>

        <div class="col-sm-1">

            {% if artifact.lid_label %}
            <div class="text-center align-middle" style="border-radius: 100%; border-color: white; border-style: solid; width:100%; margin-top: 10px; padding-top: 5px;">
                <b>{{ artifact.lid_label | linebreaksbr }}</b>
            </div>
            {% endif %}
        </div>

        <div class="col-sm-1" style="padding: 0">
            <img style="pull-right" src="{% url 'barcode' artifact.id %}" height=80 />
        </div>
        </div>
    </div>
</div>
<div class="mast2">
    <div class="container">
        {% if artifact.ghost %}
            <span class="badge badge-danger">Deleted</span>
        {% endif %}
        {% if artifact.primary_group.parent_group %}
            {% with hierarchy=artifact.primary_group.hierarchy %}
                {% include 'breadcrumbs.html' %} ►
            {% endwith %}
        {% endif %}
        <a href="{% url 'detail_artifact' artifact.id %}"><span class="badge badge-success">{{ artifact.name }}</span></a>
    </div>
</div>

<div class="container">



{% if artifact.artifact_kind == 'Biosample' %}
    {% include 'artifact_layouts/biosample.html' %}
{% endif %}

{% if artifact.artifact_kind == 'Library' %}
    {% include 'artifact_layouts/library.html' %}
{% endif %}

{% if artifact.artifact_kind == 'Sample Tube' %}
    {% include 'artifact_layouts/tube.html' %}
{% endif %}

{% if artifact.artifact_kind == 'Digital Resource' %}
    {% include 'artifact_layouts/digital.html' %}
{% endif %}


{% if artifact.artifact_kind != 'Biosample' and artifact.artifact_kind != 'Library' %}
<div class="row">
<div class="col-md-5">
<table class="table table-hover table-active">
    <thead class="thead-dark">
        <tr>
            <th>Artifact</th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
    {% for record in artifact.artifact_tree reversed %}
            {% with thing=record %}
            {% include 'tables/row_small.html' %}
            {% endwith %}
    {% endfor %}
    </tbody>
</table>
</div>

<div class="col-md-7">
<div class="table-responsive">
<table class="table table-hover table-active">
    <thead class="thead-dark">
        <tr>
            <th>Process History</th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
    {% for record in artifact.process_tree %}
    <tr>
        <td class="text-left">
            <b>{{ record.process.process_kind }}<br/>
            <span style="font-size:0.75em;">by {{ record.process.who }}</span>
        </td>
        <td class="text-right" style="white-space:nowrap;">
            {{ record.process.when | naturaltime }}<br/>
            <span style="font-size:0.75em;">{{ record.process.when }}</span>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>


</div>
<hr>





<div class="row">
<div class="col-md-6">



    <h3>Clones</h3>
    <table class="table table-hover table-active">
        <tbody>
        {% if artifact.clones %}
        {% for res in artifact.clones %}
            {% with thing=res %}
            {% include 'tables/row_small.html' %}
            {% endwith %}
        {% endfor %}
        {% else %}
        <tr>
            <td colspan=2>No clones :(</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <hr>
    <h3>Siblings</h3>
    <table class="table table-hover table-active">
        <tbody>
        {% if artifact.siblings %}
        {% for res in artifact.siblings %}
            {% with thing=res %}
            {% include 'tables/row_small.html' %}
            {% endwith %}
        {% endfor %}
        {% else %}
        <tr>
            <td colspan=2>No siblings</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <hr>
    <h3>Children</h3>
    <table class="table table-hover table-active">
        <tbody>
        {% if artifact.children %}
        {% for res in artifact.children %}
            {% with thing=res %}
            {% include 'tables/row_small.html' %}
            {% endwith %}
        {% endfor %}
        {% else %}
        <tr>
            <td colspan=2>No children</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <hr>
    <h3>Ghosts</h3>
    <table class="table table-hover table-active">
        <tbody>
        {% if artifact.ghosts %}
        {% for res_ghost in artifact.ghosts %}
        <tr>
            <td>
                <a href="{% url 'detail_artifact' res_ghost.id %}">
                    <span class="badge badge-success" style="margin: 0; font-size: 1.1em;">
                            <span style="font-size:0.8em;">&#128065;</span>
                            <!--<span class="little-text"> {{ res_ghost.id }}</span>-->
                    </span>
                </a>
            </td>
            <td>
                <code style="color:#5cb85c;">{{ res_ghost.current_hash }}</code>
            </td>
            <td>
                {{ res_ghost.current_size | filesizeformat }}
            </td>
            <td class="text-right">{{ res_ghost.last_effect.command.finished_at | naturaltime }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="2">This file is not haunted.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <h3>Metadata</h3>
    {% with thing=artifact %}
    {% include 'tables/metadata.html' %}
    {% endwith %}
</div>
</div>
{% endif %}

<div class="row">
<div class="col-md-12 text-center">
    <hr>
    <h3>Groups</h3>
    <table class="table table-hover table-active">
        <tbody>
        {% if artifact.groups.all %}
        <tr><td>
        {% for group in artifact.groups.all %}
                <a href="{% url 'group_artifact' group.id %}"><span class="badge" style="background-color:#000">{{ group.name }}</span></a>
        {% endfor %}
            </td></tr>
        {% else %}
            <tr>
                <td colspan="1">Not in any cliques :(</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

</div>
</div>

{% include 'footer.html' %}

