{% load instance %}
<hr>
<div class="container text-center">
    <span style="color:#999">
        {% if user.is_authenticated %}
            <p>You are authenticated as <b><a href="{% url 'profile' %}">{{ request.user.username }}<a/></b> | <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
             You are not authenticated. | <a href="{% url 'form_register' %}">Register</a> or <a href="{% url 'login' %}">Log in</a>
        {% endif %}
        <br/>{% footer %}</p>
    </span>
</div>
    </div>
    </div>
    </div>
    </div>
</body>
</html>
