{% include 'header.html' %}
{% load humanize %}
<div class="mast" style="margin-bottom:0">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <span class="badge badge-warning">User</span>
            <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ user.id }}</span>
        </div>
        <div class="col-md-6 text-right">
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <h1>{{ user.username }}</h1>
        </div>
        </div>
    </div>
</div>
<div class="mast2">
</div>

<div class="container">

<div class="row">
<div class="col-md-12">

    <table class="table table-hover table-active">
        <tbody>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Organisation</th>
            <td>{{ user.profile.institute }}</td>
        </tr>
        <tr>
            <th>API Key</th>
            <td>{{ user.profile.api_key }}</br>
                <b>You must keep your API key secret</b>
            </td>
        </tr>
        </tbody>
    </table>

<hr>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-biosample-tab" data-toggle="pill" href="#pills-biosample" role="tab" aria-controls="pills-biosample" aria-selected="true">Biosamples</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-consensus-tab" data-toggle="pill" href="#pills-consensus" role="tab" aria-controls="pills-consensus" aria-selected="false">Consensus</a>
        </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-biosample" role="tabpanel" aria-labelledby="pills-biosample-tab">
                <h2>Biosamples <code>{{ request.user.profile.institute.code }}</code></h2>
                {% with gitems=samples %}
                    {% include 'tables/biosample.html' %}
                {% endwith %}
            </div>
            <div class="tab-pane fade" id="pills-consensus" role="tabpanel" aria-labelledby="pills-consensus-tab">
                <h2>Consensus Sequences <code>{{ request.user.profile.institute.code }}</code></h2>
                {% with gitems=consensii %}
                    {% include 'tables/digitalresource-profile.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>



</div>
</div>
</div>

{% include 'footer.html' %}


