{% include 'header.html' %}
{% load humanize %}
<div class="mast" style="margin-bottom:0">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <span class="badge badge-warning">User</span>
            <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ user.id }}</span>
        </div>
        <div class="col-md-6 text-right">
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <h1>{{ user.username }}</h1>
        </div>
        </div>
    </div>
</div>
<div class="mast2">
</div>

<div class="container">

<div class="row">
<div class="col-md-12">

    <table class="table table-hover table-active">
        <tbody>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ user.first_name }} {{ user.last_name }} <a class="badge badge-info" style="text-decoration: underline;" href="{% url 'form_account' %}">Update name or SSH key</a></td>
        </tr>
        <tr>
            <th>Organisation</th>
            <td>{{ user.profile.institute }} <a class="badge badge-info" style="text-decoration: underline;" href="{% url 'form_institute' %}">Update institute author credits</a>
            {% if perms.majora2.can_approve_profiles %}<a class="badge badge-info" style="text-decoration: underline;" href="{% url 'list_site_profiles' %}">Manage users</a>{% endif %}</td>
        </tr>
        <tr>
            <th>Default API Key</th>
            <td>
                <b>The default keys are now disabled.</b>
            </td>
        </tr>
        <tr>
            <th>API Key</th>
            <td>
                {% if not request.user.is_verified %}
                    <a class="badge badge-danger" href="{% url 'two_factor:setup' %}">Enable 2FA to manage your API keys</a>
                {% else %}
                    <a class="badge badge-success" href="{% url 'two_factor:profile' %}">2FA Enabled</a>
                    <a class="badge badge-info" href="{% url 'api_keys' %}">Manage API Keys</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Agreements</th>
            <td>
                {% if not request.user.is_verified %}
                    <a class="badge badge-danger" href="{% url 'two_factor:setup' %}">Enable 2FA to manage your agreements</a>
                {% else %}
                    <a class="badge badge-info" href="{% url 'agreements' %}">Manage agreements</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Data Views</th>
            <td>
                {% if not request.user.is_verified %}
                    <a class="badge badge-danger" href="{% url 'two_factor:setup' %}">Enable 2FA to manage your agreements</a>
                {% else %}
                    <a class="badge badge-info" href="{% url 'list_profile_mdv' %}">List Dataviews</a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

<hr>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-biosample-tab" data-toggle="pill" href="#pills-biosample" role="tab" aria-controls="pills-biosample" aria-selected="true">Biosamples</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-published-tab" data-toggle="pill" href="#pills-published" role="tab" aria-controls="pills-published" aria-selected="false">Groups</a>
        </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-biosample" role="tabpanel" aria-labelledby="pills-biosample-tab">
                <h2>Biosamples <code>{{ request.user.profile.institute.code }}</code></h2>
                {% with gitems=samples %}
                    {% include 'tables/biosample.html' %}
                {% endwith %}
            </div>
            <div class="tab-pane fade" id="pills-published" role="tabpanel" aria-labelledby="pills-published-tab">
                <h2>Published Artifact Groups <code>{{ request.user.profile.institute.code }}</code></h2>
                {% with gitems=pags %}
                    {% include 'tables/pag.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>



</div>
</div>
</div>

{% include 'footer.html' %}


