{% load humanize %}
{% include 'header.html' %}

<style>
tr.selected {
    background-color: #28a744 !important;
}

</style>

<div class="mast" style="margin-bottom:0">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-right">
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        </div>
        </div>
    </div>
</div>
<div class="mast2">
</div>


<div style="padding:0 100px">

Model: <pre>{{ model }}</pre>
Query: <pre>{{ q }}</pre>
Show: <pre>{{show_fields}}</pre>

<select id="ctrl-show-selected">
   <option value="all" selected>Show all</option>
   <option value="selected">Show selected</option>
</select>

<form id="frm-example">
<div class="table-responsive">
<table id="example" class="table table-hover table-active table-striped">
    <thead class="thead-dark">
        <tr>
        {% for field in show_fields %}
          <th>{{ field }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for uuid, l in table.items %}
        <tr>
            {% for val in l %}
            <td>{{ val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot class="thead-dark">
        <tr>
        {% for field in show_fields %}
          <th></th>
        {% endfor %}
        </tr>
    </tfoot>
</table>
</div>
<hr>

<p><button>Submit</button></p>

<p><b>Selected rows data:</b></p>
<pre id="example-console-rows"></pre>

<p><b>Form data as submitted to the server:</b></p>
<pre id="example-console-form"></pre>
</form>
<hr>

<pre>
{% for field in show_fields %}{{field}}{% if not forloop.last %},{% endif %}{% endfor %}
{% for uuid, l in table.items %}{% for val in l %}{{ val }}{% if not forloop.last %},{% endif %}{% endfor %}
{% endfor %}</pre>

<script>
$(document).ready(function() {
   var table = $('#example').DataTable({
      'columnDefs': [
         {
            'targets': 0,
            'checkboxes': {
               'selectRow': true,
               'selectCallback': function(nodes, selected){
                  // If "Show all" is not selected
                  if($('#ctrl-show-selected').val() !== 'all'){
                     // Redraw table to include/exclude selected row
                     table.draw(false);
                  }
               }
            },
         }
      ],
      'select': {
          'style': 'multi'
      },
      'order': [[1, 'asc']],

        initComplete: function () {
            this.api().columns(  function ( idx, data, node ){ if(idx > 0){ return true }; return false;}  ).every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
   });

   // Handle change event for "Show selected records" control
   $('#ctrl-show-selected').on('change', function(){
      var val = $(this).val();

      // If all records should be displayed
      if(val === 'all'){
         $.fn.dataTable.ext.search.pop();
         table.draw();
      }

      // If selected records should be displayed
      if(val === 'selected'){
         $.fn.dataTable.ext.search.pop();
         $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex){
               return ($(table.row(dataIndex).node()).hasClass('selected')) ? true : false;
            }
         );

         table.draw();
      }

      // If selected records should not be displayed
      if(val === 'not-selected'){
         $.fn.dataTable.ext.search.pop();
         $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex){
               return ($(table.row(dataIndex).node()).hasClass('selected')) ? false : true;
            }
         );

         table.draw();
      }
   });

   // https://www.gyrocode.com/projects/jquery-datatables-checkboxes/
   // Handle form submission event
   $('#frm-example').on('submit', function(e){
      var form = this;

      var rows_selected = table.column(0).checkboxes.selected();

      // Iterate over all selected checkboxes
      $.each(rows_selected, function(index, rowId){
         // Create a hidden element
         $(form).append(
             $('<input>')
                .attr('type', 'hidden')
                .attr('name', 'id[]')
                .val(rowId)
         );
      });

      // FOR DEMONSTRATION ONLY
      // The code below is not needed in production

      // Output form data to a console
      $('#example-console-rows').text(rows_selected.join(","));

      // Output form data to a console
      $('#example-console-form').text($(form).serialize());

      // Remove added elements
      $('input[name="id\[\]"]', form).remove();

      // Prevent actual form submission
      e.preventDefault();
   });
});
</script>



{% include 'footer.html' %}
