Django==2.2.27
django-autocomplete-light==3.5.1
diceware==0.9.6
slackclient==2.5.0
django-slack==5.14.3
django-polymorphic==2.1.2
pylibdmtx==0.1.9
Pillow==8.4.0
python-dateutil==2.8.1
django-crispy-forms==1.9.0
mysqlclient==1.4.6
sshpubkeys==3.1.0
celery==4.4.2
django-celery-results==2.4.0 # Cannot be updated to 2.2.0 without a major update to Celery 5 which is incompatible with Majora
celery-s3==1.0.1
phonenumberslite==8.12.3
django-two-factor-auth==1.12.1
serpy==0.3.1
django-datatables-view==1.19.1
djangorestframework==3.11.2
django-rest-polymorphic==0.1.9
djangorestframework-csv==2.1.0
django-markdownify==0.8.0
rest_condition==1.0.3
django-oauth-toolkit==1.4.1 # Broken by missing algorithm field on model in 1.5.0 https://github.com/jazzband/django-oauth-toolkit/commit/b56987e604d37737e50634e04c3a4559d695f6cb
django-cors-headers==3.5.0
requests==2.23.0
boto3==1.13.1
markdown==3.3.4 # Newer version breaks build by requiring a version of importlib that is too new
pre-commit==2.17.0
