Django==2.2.10
django-autocomplete-light
diceware
slackclient
django-slack
django-polymorphic
pylibdmtx
Pillow
python-dateutil
django-crispy-forms
mysqlclient
sshpubkeys
celery
django-celery-results
celery[s3]
phonenumberslite
django-two-factor-auth
serpy
