Django==2.2.20
django-autocomplete-light
diceware
slackclient
django-slack
django-polymorphic
pylibdmtx
Pillow
python-dateutil
django-crispy-forms
mysqlclient
sshpubkeys
celery
django-celery-results
celery[s3]
phonenumberslite
django-two-factor-auth==1.12.1
serpy
django-datatables-view
djangorestframework
django-rest-polymorphic
djangorestframework-csv
django-markdownify
rest_condition
django-oauth-toolkit==1.4.1 # Broken by missing algorithm field on model in 1.5.0 https://github.com/jazzband/django-oauth-toolkit/commit/b56987e604d37737e50634e04c3a4559d695f6cb
django-cors-headers
requests
boto3
