{% load humanize %}
<div class="table-responsive">
<table class="table table-hover table-active data-table">
    <thead class="thead-dark">
        <tr>
            <th>Sample ID</th>
            <th>Sample Source</th>
            <th>Type</th>
            <th>Sampled Date</th>
        </tr>
    </thead>
    <tbody>
    {% for artifact in gitems %}
    <tr>
        <td><a href="{% url 'detail_artifact' artifact.id %}"><b>{{ artifact.name }}</b></a></td>
        <td>{{ artifact.source.unique_name }}</td>
        <td>{{ artifact.sample_type }}</td>
        <td>{{ artifact.collection.process.when }}</br>
        {{ artifact.collection.process.when | naturaltime }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<script>
$(document).ready(function() {
   var table = $('.data-table').DataTable({
      'columnDefs': [
      ],
      'order': [[0, 'asc']],

   });
});
</script>
