<div class="table-responsive">
<table id="dt_pag" class="table datatable" style="width: 100% !important">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Published name</th>
            <th>Published date</th>
            <th>Sequencing site</th>
            <th>GISAID</th>
            <th>ENA</th>
            <th>QC Basic</th>
            <th>QC High</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot class="table-dark">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
</div>

<script>
$(document).ready(function() {
    // https://stackoverflow.com/questions/46790263/replace-nth-occurence-of-number-in-string-with-javascript
    function replaceOccurrence(string, regex, n, replace) {
       var i = 0;
       return string.replace(regex, function(match) {
            i+=1;
            if(i===n) return replace;
            return match;
        });
    }

    var oTable = $('#dt_pag').dataTable({
        processing: true,
        serverSide: true,
        ajax: "{{ pag_ajax_url }}",
        pageLength: 10,

        dom: 'frtip',

        columnDefs: [
            {
                orderable: false,
                targets: [3,4,5,6,7]
            },
            {
                "render": function(data, type, row){
                    if (data == "True"){
                        return '<span class="badge badge-success">PASS</span>';
                    }
                    else {
                        return '<span class="badge badge-danger">FAIL</span>';
                    }
                },
                "targets": [6,7],
            },
            {
                "render": function(data, type, row){
                    return '<a href="https://www.ebi.ac.uk/ena/data/view/' + data + '">' + data + '</a>';
                },
                "targets": 5
            },
            {
                "render": function(data, type, row){
                    data = replaceOccurrence(data, /\//g, 2, '<br />')
                    var url_mask = "{% url 'group_artifact' '00000000-0000-0000-0000-000000000000' %}".replace(/00000000-0000-0000-0000-000000000000/, row[0].toString());
                    return '<a style="font-size; 0.8em" href="' + url_mask + '">' + data + '</a>';
                },
                "targets": 1
            },
            { "visible": false,  "targets": [ 0 ] }
        ],

        initComplete: function () {
            this.api().columns(  function ( idx, data, node ){ if(idx == 3){ return true }; return false;}  ).every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                {% for code in site_codes %}
                    select.append( '<option value="{{ code|escape }}">{{ code|escape }}</option>' )
                {% endfor %}
            } );
        }

    });
});
</script>
