{% load humanize %}
<div class="table-responsive">
    <table class="table table-hover table-active {% if dtable != 0%}data-table{% endif %}">
    <thead>
        <tr class="table-active">
            <th>Sample ID</th>
            <th>Adaptor#</th>
            <th>Protocol / Primers</th>
            <th>Sample Source</th>
            <th>Collected at (by)</th>
            <th>Collection date</th>
            <th>Seqlab received date</th>
            <th>Pool</th>
        </tr>
    </thead>
    <tbody>
    {% with library=artifact %}
    {% for record in gitems %}
    {% with artifact=record.in_artifact %}
    <tr>
        <td><a href="{% url 'detail_artifact' artifact.id %}"><b>{{ artifact.name }}</b></a></td>
        <td><b>{{ record.barcode }}</b></td>
        <td><b>{{ record.library_protocol }} / {{ record.library_primers }}</b></td>
        <td>{% if artifact.primary_group %}<b><a href="{% url 'group_artifact' artifact.primary_group.id %}">{{ artifact.primary_group }}</a></b>{% else %}Unlinked{% endif %} ({{ artifact.created.source_age }}{{ artifact.created.source_sex }})</td>
        <td>{{ artifact.created.collection_location_adm1 }} / {{ artifact.created.collection_location_adm2 }}</br>
            {{artifact.created.collected_by}}</td>
        <td>{{ artifact.created.when }}</br>
        {{ artifact.created.when | naturaltime }}</td>
        <td>{{ record.sequencing_org_received_date }}</br>
        {{ record.sequencing_org_received_date | naturalday }}</td>
        <td>{{ record.library_source }} {{ record.library_selection }} {{ record.library_strategy }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    {% endwith %}
    </tbody>
</table>
</div>

<script>
$(document).ready(function() {
   var table = $('.data-table').DataTable({
      'columnDefs': [
      ],
      'order': [[0, 'asc']],

   });
});
</script>
