{% load humanize %}
{% load pag %}
<div class="table-responsive">
<table class="table table-hover table-active data-table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Basic QC</th>
            <th>High QC</th>
            <th>Public</th>
        </tr>
    </thead>
    <tbody>
    {% for group in gitems %}
    <tr>
        <td><a href="{% url 'group_artifact' group.id %}"><b>{{ group.published_name }}</b></a></td>
        <td>
            {% get_basic_qc group as is_pass%}
            {% if is_pass == True %}
	        <span class="badge badge-success">PASS</span>
            {% elif is_pass == False %}
	        <span class="badge badge-danger">FAIL</span>
            {% else %}
	        <span class="badge badge-info">TBQC</span>
            {% endif %}
        </td>
        <td>
            {% get_public_qc group as is_pass%}
            {% if is_pass == True %}
	        <span class="badge badge-success">PASS</span>
            {% elif is_pass == False %}
	        <span class="badge badge-danger">FAIL</span>
            {% else %}
	        <span class="badge badge-info">TBQC</span>
            {% endif %}
        </td>
        <td>
	{% if pag.is_public %}
	    <span class="badge badge-success">yes</span>
	{% else %}
	    <span class="badge badge-danger">no</span>
	{% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class="thead-dark">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tfoot>
</table>
</div>


