<ul class="list-group">
    {% for p, ch in d.items %}
    <li class="list-group-item">
        <span class="badge badge-info">{{ p.out_artifact.artifact_kind }}</span> <span class="badge badge-danger">{{ p.process.process_kind }}</span></br>
        {% if p.out_artifact %}
        <b><a href="{% url 'detail_artifact' p.out_artifact.id %}">{{ p.out_artifact.name }}</a></b>
        {% endif %}

        {% for c in ch %}
            {% with d=c template_name="tables/recurse_process.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}
    </li>
    {%endfor%}
</ul>
