{% load humanize %}
<ul class="list-group list-active">
    {% for p, ch in d.items %}
    <li class="list-group-item">
        {% if p.out_artifact %}
        <span class="badge badge-info">{{ p.out_artifact.artifact_kind }}</span> <span class="badge badge-danger">{{ p.process.process_kind }}</span></br>
        <div class="d-flex w-100 justify-content-between text-right">
            <b><a href="{% url 'detail_artifact' p.out_artifact.id %}">{{ p.out_artifact.name }}</a></b>
            <small>{{ p.process.when | naturaltime }}</small>
        </div>
        {% elif p.out_group %}
        <span class="badge badge-info">{{ p.out_group.group_kind }}</span> <span class="badge badge-danger">{{ p.process.process_kind }}</span></br>
        <div class="d-flex w-100 justify-content-between text-right">
            <b><a href="{% url 'group_artifact' p.out_group.id %}">{{ p.out_group.name }}</a></b>
            <small>{{ p.process.when | naturaltime }}</small>
        </div>
        {% endif %}

        {% for c in ch %}
            {% with d=c template_name="tables/recurse_process.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}
    </li>
    {%endfor%}
</ul>
