{% load humanize %}

{% include 'header.html' %}
<div class="mast" style="margin-bottom:0">
    <div class="container">
        <div class="row">
        <div class="col-md-9">
            <span class="badge badge-success">Resource</span>
            {% if resource.ghost %}
            <strike><span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ resource.id }}</span></strike>
            {% else %}
            <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ resource.id }}</span>
            {% endif %}
            <h2>{{ resource.basename }}</h2>

        </div>
        <div class="col-md-3 text-right">
            <span class="badge badge-warning">{% if resource.ghost %}Last{% else %}Current{% endif %} Hash</span>
            <span class="uuid-mast">{{ resource.current_hash }}</span>
            <span class="badge badge-warning">{% if resource.ghost %}Last{% else %}Current{% endif %} Size</span>
            <span class="uuid-mast">{{ resource.current_size | filesizeformat }}</span>
        </div>
        </div>
    </div>
</div>
<div class="mast2">
    <div class="container">
        {% if resource.ghost %}
            <span class="badge badge-danger">Deleted</span>
        {% endif %}
            <a href="{% url 'detail_node' resource.current_node.id %}"><span class="badge" style="background-color:#000">{{ resource.current_node.name }}</span></a> ►
            <a href="{% url 'list_resources' resource.current_master_group.id %}"><span class="badge" style="background-color:#000">{{ resource.dirname }}</span></a> ►
            <span class="badge badge-success">{{ resource.basename }}</span>
    </div>
</div>

<div class="container">

<div class="table-responsive">
<table class="table table-hover table-active">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Command</th>
            <th>User</th>
            <th class="text-right">Timestamp</th>
        </tr>
    </thead>
    <tbody>
    {% if resource.effect_last_modified %}
    <tr>
        <td class="text-center" width=2em>
            Last Modified
        </td>
        <td>
            <a href="{% url 'detail_command' resource.effect_last_modified.command.id %}"><pre style="white-space: pre-wrap; width: auto; font-size:0.75em; margin:0"><code>{{ resource.effect_last_modified.command.cmd_str | escape }}</code></pre></a>
        </td>
        <td>
            <span class="badge badge-primary">
            <b>{{ resource.effect_last_modified.command.user }}</b>
            </span>
        </td>
        <td class="text-right" style="white-space:nowrap;">
            {{ resource.effect_last_modified.command.finished_at | naturaltime }}<br/>
            <span style="font-size:0.75em;">{{ resource.effect_last_modified.command.finished_at }}</span>
        </td>
    </tr>
    {% endif %}
    {% if resource.effect_last_used %}
    <tr>
        <td class="text-center" width=2em>
            Last Used
        </td>
        <td>
            <a href="{% url 'detail_command' resource.effect_last_used.command.id %}"><pre style="white-space: pre-wrap; width: auto; font-size:0.75em; margin:0"><code>{{ resource.effect_last_used.command.cmd_str | escape }}</code></pre></a>
        </td>
        <td>
            <span class="badge badge-primary">
            <b>{{ resource.effect_last_used.command.user }}</b>
            </span>
        </td>
        <td class="text-right" style="white-space:nowrap;">
            {{ resource.effect_last_used.command.finished_at | naturaltime }}<br/>
            <span style="font-size:0.75em;">{{ resource.effect_last_used.command.finished_at }}</span>
        </td>
    </tr>
    {% endif %}
    {% if resource.effect_created %}
    <tr>
        <td class="text-center" width=2em>
            Created
        </td>
        <td>
            <a href="{% url 'detail_command' resource.effect_created.command.id %}"><pre style="white-space: pre-wrap; width: auto; font-size:0.75em; margin:0"><code>{{ resource.effect_created.command.cmd_str | escape }}</code></pre></a>
        </td>
        <td>
            <span class="badge badge-primary">
            <b>{{ resource.effect_created.command.user }}</b>
            </span>
        </td>
        <td class="text-right" style="white-space:nowrap;">
            {{ resource.effect_created.command.finished_at | naturaltime }}<br/>
            <span style="font-size:0.75em;">{{ resource.effect_created.command.finished_at }}</span>
        </td>
    </tr>
    {% endif %}
    </tbody>
</table>
</div>


<hr>

<div class="row">
<div class="col-md-6">
    <h3>Hash Friends</h3>
    <p>Files with the same hash that can be fetched by chitin</p>
    <table class="table table-hover table-active">
        <thead class="thead-dark">
            <tr>
                <th>Path</th>
                <th class="text-right" width="25%">Last Touched</th>
            </tr>
        </thead>
        <tbody>
        {% if resource.hash_friends %}
        {% for res in resource.hash_friends %}
        <tr>
            <td>
                <b><a href="{% url 'detail_resource' res.id %}">{{ res.full_path }}</a></b><br>
            </td>
            <td class="text-right">{{ res.last_effect.command.finished_at | naturaltime }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan=2>No friends :(</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <hr>
    <h3>Ghosts</h3>
    <p>Files that used to exist on this path, that were deleted in the past</p>
    <table class="table table-hover table-active">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right" width="25%">Deleted</th>
            </tr>
        </thead>
        <tbody>
        {% if resource.ghosts %}
        {% for res_ghost in resource.ghosts %}
        <tr>
            <td>
                <a href="{% url 'detail_resource' res_ghost.id %}">
                    <span class="badge badge-success" style="margin: 0; font-size: 1.1em;">
                            <span style="font-size:0.8em;">&#128065;</span>
                            <!--<span class="little-text"> {{ res_ghost.id }}</span>-->
                    </span>
                </a>
            </td>
            <td>
                <code style="color:#5cb85c;">{{ res_ghost.current_hash }}</code>
            </td>
            <td>
                {{ res_ghost.current_size | filesizeformat }}
            </td>
            <td class="text-right">{{ res_ghost.last_effect.command.finished_at | naturaltime }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="2">This file is not haunted.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <h3>Metadata</h3>
    <p>Extra information tagged to this Resource</p>
    <table class="table table-hover table-active">
        <thead class="thead-dark">
            <tr>
                <th>Command</th>
                <th>Tag</th>
                <th>Name</th>
                <th>Value</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
        {% if resource.metadata %}
        {% for metadatum in resource.metadata %}
        <tr>
            <td>{% if metadatum.command %}
                <a href="{% url 'detail_command' metadatum.command.id %}">
                    <span class="badge badge-danger" style="margin: 0px 0 0px 0; font-size:1.1em;">
                    <span style="font-size:0.8em;">&#128065;</span><br/>
                    </span>
                </a>
                {% else %}
                <span class="badge badge-success" style="margin: 0px 0 0px 0; font-size:1.1em; background-color: #000;">
                <span style="font-size:0.8em;">&Oslash;</span><br/>
                </span>
                {% endif %}
            </td>
            <td>{{ metadatum.meta_tag }}</td>
            <td>{{ metadatum.meta_name }}</td>
            <td>{{ metadatum.translate }}</td>
            <td>{{ metadatum.timestamp }}</td>
        </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">Not much to say.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <hr/>

    <h3>Groups</h3>
    <p>Groups associated with this Resource</p>
    <table class="table table-hover table-active">
        <thead class="thead-dark">
            <tr>
                <th>Group</th>
            </tr>
        </thead>
        <tbody>
        {% if resource.groups.all %}
        {% for group in resource.groups.all %}
        <tr>
            <td>
                <a href="{% url 'list_resources' group.id %}"><span class="badge" style="background-color:#000">{{ group.name }}</span></a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="1">Not in any cliques :(</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

</div>
</div>

{% include 'footer.html' %}

