{% load humanize %}
{% include 'header.html' %}
<div class="mast" style="margin-bottom:0">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-right">
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        </div>
        </div>
    </div>
</div>
<div class="mast2">
</div>


<div class="container">

Query: <pre>{{ q }}</pre>


{% for q_type, q_set in d.items %}

{{ q_type }}
<div class="table-responsive">
<table class="table table-hover table-active">
    <thead class="thead-dark">
        <tr>
          <th>uuid</th>
        {% for field in fields %}
          <th>{{ field }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for r, dv in q_set.items %}
        <tr>
            <td>{{ r }}</td>
            {% for v in dv %}
              <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endfor %}


{% include 'footer.html' %}


