<div class="row">
<div class="col-md-6">
    <h2>Biosample Source</h2>
    <table class="table table-hover table-active">
        <tbody>
        {% with sample=artifact %}
        <tr>
            <th>Sample</th>
            <td><b><a href="{% url 'detail_artifact' sample.id %}">{{ sample.name }}</a></b></td>
        </tr>
        <tr>
            <th>Source</th>
            {% if sample.primary_group %}
            <td><b><a href="{% url 'group_artifact' sample.primary_group.id %}">{{ sample.primary_group }}</a></b></td>
            {% else %}
            <td>Unknown</td>
            {% endif %}
        </tr>
        <tr>
            <th>Longitude</th>
            <td>{{ sample.sample_longitude }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ sample.sample_type }}</td>
        </tr>
        <tr>
            <th>Specimen</th>
            <td>{{ sample.specimen_type }}</td>
        </tr>
        {% endwith %}
        </tbody>
    </table>
</div>
</div>
<hr/>

