{% load humanize %}
<div class="row">
<div class="col-md-6">
    <h2>Biosample Source</h2>
    <table class="table table-hover table-active">
        <tbody>
        {% with sample=artifact %}
        <tr>
            <th>Sample</th>
            <td><b><a href="{% url 'detail_artifact' sample.id %}">{{ sample.name }}</a></b></td>
        </tr>
        <tr>
            <th>Source</th>
            {% if sample.primary_group %}
            <td><b><a href="{% url 'group_artifact' sample.primary_group.id %}">{{ sample.primary_group }}</a></b></td>
            {% else %}
            <td>Unlinked</td>
            {% endif %}
        </tr>
        <tr>
            <th>Identifier</th>
            <td>{{ sample.secondary_identifier }} <code>{{ sample.secondary_accession }}</code></td>
        </tr>
        <tr>
            <th>Participant</th>
            <td>{{ sample.created.source_age }}{{ sample.created.source_sex }} {{ sample.created.source_category }} {{ sample.created.source_setting }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ sample.sample_type_collected }} {% if sample.sample_type_collected == "swab" %}({{ sample.sample_site }}){% endif %} {{ sample.created.sampling_strategy }}</td>
        </tr>
        {% endwith %}
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <h2>Sampling</h2>
    <table class="table table-hover table-active">
        <tbody>
        {% with sample=artifact %}
        <tr>
            <th>Collected on</th>
            <td>{% if sample.created.received_date %}<b>Received</b> {{ sample.created.received_date }}{% else %}{{ sample.created.collection_date }}{% endif %}</td>
        </tr>
        <tr>
            <th>Collected at</th>
            <td>{{ sample.created.collection_location_adm1 }} / {{ sample.created.collection_location_adm2 }} </td>
        </tr>
        <tr>
            <th>Collected by</th>
            <td>{{ sample.created.collected_by }}</td>
        </tr>
        <tr>
            <th>Submitting user</th>
            <td>{{ sample.created.submission_user }}</td>
        </tr>
        <tr>
            <th>Submitting organisation</th>
            <td>{{ sample.created.submission_org.name }}</td>
        </tr>
        {% endwith %}
        </tbody>
    </table>
</div>
</div>
<hr/>

