{% load humanize %}
<div class="row">
<div class="col-md-12">
    <h2>Digital Resource</h2>
    <table class="table table-hover table-active">
        <thead>
            <tr class="table-active">
                <th>Node</th>
                <th>Dir</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% if artifact.primary_group.root_group %}<a href="{% url 'group_artifact' artifact.primary_group.root_group.id %}">{{ artifact.primary_group.root_group.name }}</a>{% endif %}</td>
                <td>{% if artifact.primary_group %}<a href="{% url 'group_artifact' artifact.primary_group.id %}">{{ artifact.primary_group.name }}</a>{% endif %}</td>
                <td><b>{{ artifact.name }}</b></br>
                    <code>{{ artifact.current_kind }}</code> ({{ artifact.current_size | filesizeformat }})
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6">
</div>
</div>

<div class="row">
<div class="col-md-12">
<br/>
    <h2 class="text-right">Processes</h2>
    <table class="table table-hover table-active">
    <thead>
        <tr class="table-active">
            <th>Process</th>
            <th>Properties</th>
            <th>Metadata</th>
        </tr>
    </thead>
    <tbody>
    {% for proc in artifact.process_tree_bioinf %}
        <tr>
            <td width=30%><b><span class="badge badge-danger" style="font-size: 1em; margin-bottom:3px">{{ proc.process_kind }}</span></b>
                {% if proc.process_kind == "Sequencing" %}</br><b>{{ proc.run_name }}</b>{% endif %}
                <br/><span class="small">{{ proc.id }}</span>

            </td>
            <td width=40%>
                {% if proc.process_kind == "Sequencing" %}
                    <table class="table-sm" style="margin: -8px 0 -8px -4px">
                        <tr>
                            <td><b>Instrument</b></td><td>{{ proc.instrument_make }} {{proc.instrument_model }}</td>
                        </tr>
                        <tr>
                            <td><b>Flowcell</b></td><td>{{ proc.flowcell_type }} {{proc.flowcell_id}}</td>
                        </tr>
                        <tr>
                            <td><b>Timing</b></td><td>{{ proc.start_time | naturaltime }} {{ proc.duration | naturaltime }}</td>
                        </tr>
                    </table>
                {% else %}
                    <table class="table-sm" style="margin: -8px 0 -8px -4px">
                        <tr>
                            <td><b>Pipe</b></td><td>{{ proc.pipe_name }}</td>
                        </tr>
                        <tr>
                            <td><b>Version</b></td><td>{{ proc.pipe_version }}</td>
                        </tr>
                    </table>
                {% endif %}
            </td>
            <td>
                {% with thing=proc %}
                {% include 'tables/metadata-badges.html' %}
                {% endwith %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
