{% load humanize %}
<div class="row">
<div class="col-md-6">
    <h2>Biosample Library Pool</h2>
    <table class="table table-hover table-active">
        <tbody>
        <tr>
            <th>layout_config</th>
            <td>{{ artifact.layout_config }}</td>
        </tr>
        <tr>
            <th>layout_read_length layout_insert_length</th>
            <td>{{ artifact.layout_read_length }} {{ artifact.layout_insert_length }}</td>
        </tr>
        <tr>
            <th>seq_protocol</th>
            <td>{{ artifact.seq_protocol }}</td>
        </tr>
        <tr>
            <th>seq_kit</th>
            <td>{{ artifact.seq_kit }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-md-6">
</div>
<div class="col-md-12">
<br/>
    <h2 class="text-right">Samples</h2>
{% with gitems=artifact.created.records.all dtable=0 %}
    {% include 'tables/librarybiosample.html' %}
{% endwith %}
</div>
</div>

