{% load crispy_forms_tags %}
{% include 'header.html' with title="Registration successful" %}
<div class="mast2">
    <div class="container">
    </div>
</div>
<div class="container">

    <h1>Access request received</h1>
    <h2>You do not have access yet.</h2>
    Thanks for providing your details.</br>
    Your request will be reviewed by a system administrator shortly.</br>
    You will receive an email once your account has been activated, which will also provide details on how to login to CLIMB and upload data.</br>
    <b>Do not attempt to login to systems until your account has been activated</b>, and please do not chase your request in <code>#account-requests</code>.

{% include 'footer.html' %}

