{% include 'header.html' %}
{% load humanize %}
<div class="mast" style="margin-bottom:0">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <span class="badge badge-warning">User</span>
            <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ user.id }}</span>
        </div>
        <div class="col-md-6 text-right">
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <h1>{{ user.username }}</h1>
        </div>
        </div>
    </div>
</div>
<div class="mast2">
</div>

<div class="container">
<div class="row">
    <div class="col-md-12">
        <h1>Active profiles</h1>
        <br>
        <table id="users" class="table table-borderless table-hover">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Org</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Last login</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in active_profiles %}
            <tr>
                <td><code>{{ profile.user.id }}</code></td>
                <td><code>{{ profile.institute.code }}</code></td>
                <td><code>{{ profile.user.username }}</code></td>
                <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                <td><code>{{ profile.user.email }}</code></td>
                <td>{{ profile.user.last_login | naturaltime }}</td>
                <td>
                {% if profile.user.is_active %}
                    <span class="badge badge-success">ACTIVE</span>
                {% else %}
                    <span class="badge badge-warning">WAITING</span>
                {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td>No users to list...</td></tr>
            {% endfor %}
            </tbody>
            <tfoot class="table-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        <h1>Approval queue</h1>
        <p>These profiles require your attention. Approve a profile only if you know this user should have access to CLIMB systems.</p>
        <table class="table table-borderless">
            <thead class="table-dark">
            <tr>
                <th>User</th>
                <th class="text-right">Approve</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in inactive_profiles %}
            <tr class="table-danger">
                <td>{{ profile.user.username }}</br>{{ profile.user.first_name }} {{ profile.user.last_name }}</br>{{ profile.user.email }}</td>
                <td class="text-right">
                    <form action="{% url 'list_site_profiles' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="profile" name="profile" value="{{ profile.pk }}">
                        <input type="submit" class="btn btn-success btn-sm" type="button" value="Approve">
                    </form>
            </tr>
            {% empty %}
            <tr><td>No users to list...</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div>
</div>
</div>

<script>
$(document).ready(function() {
   var table = $('#users').DataTable({
      'columnDefs': [
      ],
      'order': [[0, 'asc']],

      initComplete: function () {
          this.api().columns(  function ( idx, data, node ){ if(idx == 1){ return true }; return false;}  ).every( function () {
              var column = this;
              var select = $('<select><option value=""></option></select>')
                  .appendTo( $(column.footer()).empty() )
                  .on( 'change', function () {
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );
 
                      column
                          .search( val ? '^'+val+'$' : '', true, false )
                          .draw();
                  } );
 
              {% for code in site_codes %}
                  select.append( '<option value="{{ code|escape }}">{{ code|escape }}</option>' )
              {% endfor %}
          });
      }

   });
});
</script>

{% include 'footer.html' %}




