{% load humanize %}
<h3 class="text-right">COG-UK Supplemental Sample Information</h3>
<table class="table table-sm table-active text-center">
    <thead class="table-active">
    <tr>
        <th width="10%">Surveillance</th>
        <th width="10%">Pillar</th>
        <th width="18%">Hospital Worker</th>
        <th width="18%">Hospital Patient</th>
        <th width="18%">Carehome Worker</th>
        <th width="18%">Carehome Resident</th>
        <th width="18%">Admitted with COVID</th>
    </tr>
    </thead><tbody style="font-size:1.2em;">
    <tr>
        <td>
            {% if sample.created.coguk_supp.is_surveillance %}
            <span class="badge badge-success">Y</span>
            {% elif sample.created.coguk_supp.is_surveillance == False %}
            <span class="badge badge-danger">N</span>
            {% else %}
            <span class="badge badge-dark">?</span>
            {% endif %}
        </td>
        <td>
            {% if sample.created.coguk_supp.collection_pillar %}
            <span class="badge badge-success">{{ sample.created.coguk_supp.collection_pillar }}</span>
            {% else %}
            <span class="badge badge-dark">?</span>
            {% endif %}
        </td>
        <td>
            <span class="badge badge-danger">Restricted</span>
        </td>
        <td>
            <span class="badge badge-danger">Restricted</span>
        </td>
        <td>
            <span class="badge badge-danger">Restricted</span>
        </td>
        <td>
            <span class="badge badge-danger">Restricted</span>
        </td>
        <td>
            <span class="badge badge-danger">Restricted</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td style="font-size: 0.7em">
        </td>
        <td style="font-size: 0.7em">
        </td>
        <td colspan=2 style="font-size: 0.7em">
            {% if sample.created.coguk_supp.anonymised_care_home_code %}
            Carehome Code <code>Restricted</code>
            {% endif %}
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
