{% load humanize %}
<h3 class="text-right">COG-UK Supplemental Sample Information</h3>
<table class="table table-sm table-active text-center">
    <thead class="table-active">
    <tr>
        <th width="10%">Surveillance</th>
        <th width="18%">Hospital Worker</th>
        <th width="18%">Hospital Patient</th>
        <th width="18%">Carehome Worker</th>
        <th width="18%">Carehome Resident</th>
        <th width="18%">Admitted with COVID</th>
    </tr>
    </thead><tbody style="font-size:1.2em;">
    <tr>
        <td>
            {% if sample.created.coguk_supp.is_surveillance %}
            <span class="badge badge-success">Y</span>
            {% elif sample.created.coguk_supp.is_surveillance == False %}
            <span class="badge badge-danger">N</span>
            {% else %}
            <span class="badge badge-dark">?</span>
            {% endif %}
        </td>
        <td>
            {% if sample.created.coguk_supp.is_hcw %}
            <span class="badge badge-success">Y</span>
            {% elif sample.created.coguk_supp.is_hcw == False %}
            <span class="badge badge-danger">N</span>
            {% else %}
            <span class="badge badge-dark">?</span>
            {% endif %}
        </td>
        <td>
            {% if sample.created.coguk_supp.is_hospital_patient %}
            <span class="badge badge-success">Y</span>
            {% elif sample.created.coguk_supp.is_hospital_patient == False %}
            <span class="badge badge-danger">N</span>
            {% else %}
            <span class="badge badge-dark">?</span>
            {% endif %}
        </td>
        <td>
            {% if sample.created.coguk_supp.is_care_home_worker %}
            <span class="badge badge-success">Y</span>
            {% elif sample.created.coguk_supp.is_care_home_worker == False %}
            <span class="badge badge-danger">N</span>
            {% else %}
            <span class="badge badge-dark">?</span>
            {% endif %}
        </td>
        <td>
            {% if sample.created.coguk_supp.is_care_home_resident %}
            <span class="badge badge-success">Y</span>
            {% elif sample.created.coguk_supp.is_care_home_resident == False %}
            <span class="badge badge-danger">N</span>
            {% else %}
            <span class="badge badge-dark">?</span>
            {% endif %}
        </td>
        <td>
            {% if sample.created.coguk_supp.admitted_with_covid_diagnosis %}
            <span class="badge badge-success">Y</span>
            {% elif sample.created.coguk_supp.admitted_with_covid_diagnosis == False %}
            <span class="badge badge-danger">N</span>
            {% else %}
            <span class="badge badge-dark">?</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="font-size: 0.7em">
            {{ sample.created.coguk_supp.employing_hospital_name }}
            {% if sample.created.coguk_supp.employing_hospital_trust_or_board %}
            ({{ sample.created.coguk_supp.employing_hospital_trust_or_board }})
            {% endif %}
        </td>
        <td style="font-size: 0.7em">
            {{ sample.created.coguk_supp.admitted_hospital_name }} 
            {% if sample.created.coguk_supp.admitted_hospital_trust_or_board %}
            ({{ sample.created.coguk_supp.admitted_hospital_trust_or_board }})
            {% endif %}
            {% if sample.created.coguk_supp.admission_date %}
            <br> {{ sample.created.coguk_supp.admission_date }}
            {% endif %}
        </td>
        <td colspan=2 style="font-size: 0.7em">
            {% if sample.created.coguk_supp.anonymised_care_home_code %}
            Carehome Code <code>{{ sample.created.coguk_supp.anonymised_care_home_code }}</code>
            {% endif %}
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
