{% extends "oauth2_provider/base.html" %}

{% load i18n %}

{% block title %}
Majora OAuth2.0 Code Granted
{% endblock %}

{% block content %}
    <div class="block-center">
        {% if not error %}
            <div class="text-center">
            <h2>Application authorized</h2>
            <b>DO NOT CLOSE THIS PAGE YET</b>
            </div>
            <hr>
            You have been redirected to this page as your request to authorize an application to access your Majora account was successful.
            </br>
            </br>
            You must now return to application and provide the following code.

            <input style="margin-top:10px; margin-bottom:10px" class="form-control" type="text" value="{{ code }}" readonly />

            This one-use grant code is valid for a very short period of time.</br>
            Your application will trade this in for a longer lived access code.

            <hr>

            For additional scrutiny, your request included an additional code.</br>
            Ensure this matches that set by the originating application.
            <input style="margin-top:10px" class="form-control" type="text" value="{{ state }}" readonly />

        {% else %}
            <h2>Error: {{ error.error }}</h2>
            <p>{{ error.description }}</p>
        {% endif %}
    </div>
{% endblock %}
