{% extends "oauth2_provider/base.html" %}

{% load i18n %}

{% block title %}
Majora OAuth2.0 Code Granted
{% endblock %}

{% block content %}
    <div class="block-center">
        <div class="text-center">
        {% if error %}
            <h2>Application NOT authorized</h2>
            Your request failed with the following error state:
            <code>{{ error }}</code>
        {% else %}
            <h2>Application authorized</h2>
            <b>DO NOT CLOSE THIS PAGE YET</b>
            </div>
            <hr>
            You have been redirected to this page as your request to authorize an application to access your Majora account was successful.
            </br>
            </br>
            If you are using Ocarina you must now return to the application and paste the following URL:

            <div class="input-group" style="margin-top:10px">
                <input type="text" class="form-control" value="{{ full_uri }}" readonly >
                <div class="input-group-append">
                    <button type="button form-control" class="copy-btn btn btn-sm btn-primary" data-clipboard-text="{{ full_uri }}"><b>Copy</b></button>
                </div>
            </div>
            <hr>
            For other applications, you must now return to application and provide the following code:

            <div class="input-group" style="margin:10px 0 10px 0">
                <input type="text" class="form-control" value="{{ code }}" readonly >
                <div class="input-group-append">
                    <button type="button form-control" class="copy-btn btn btn-sm btn-primary" data-clipboard-text="{{ code }}"><b>Copy</b></button>
                </div>
            </div>

            This one-use grant code is valid for a very short period of time.</br>
            Your application will trade this in for a longer lived access code.

        {% endif %}
        <hr>

        For additional scrutiny, your request included a 'state' code.</br>
        Ensure this matches that set by the originating application.
        <div class="input-group" style="margin-top:10px">
            <input type="text" class="form-control" value="{{ state }}" readonly >
            <div class="input-group-append">
                <button type="button form-control" class="copy-btn btn btn-sm btn-primary" data-clipboard-text="{{ state }}"><b>Copy</b></button>
            </div>
        </div>
    </div>

<script>
//Tooltip tip from https://stackoverflow.com/questions/37381640/tooltips-highlight-animation-with-clipboard-js-click
$( document ).ready(function() {
$('button').tooltip({
  trigger: 'click',
  placement: 'bottom'
});

function setTooltip(btn, message) {
  $(btn).tooltip('hide')
    .attr('data-original-title', message)
    .tooltip('show');
}

function hideTooltip(btn) {
  setTimeout(function() {
    $(btn).tooltip('hide');
  }, 1000);
}

var clipboard = new ClipboardJS('.copy-btn');

clipboard.on('success', function(e) {
  setTooltip(e.trigger, 'Copied!');
  hideTooltip(e.trigger);
});

clipboard.on('error', function(e) {
  setTooltip(e.trigger, 'Failed!');
  hideTooltip(e.trigger);
});
});
</script>
{% endblock %}
